{% extends 'base.html' %}
{% block title%}
Home
{% endblock%}

{% block content%}
<div class="row mt-5" style="width: 95%; margin: auto;">
    {% for cnt in data %}
    <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{cnt.title}}</h5>
            <p class="card-text">{{cnt.content}}</p>
            <h6> 
                Author: {{cnt.author.name}}

            </h6>
            <h6>Categories:
                {% for cat in cnt.category.all %}
                <p class="btn btn-primary btn-sm m-3">
                    {{cat.name}}                
                </p>
                {% endfor %}
            </h6>
            <a href="{% url 'edit-post' cnt.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete-post' cnt.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}